{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<div class="container mt-4">
    <h2>List of PDF Files</h2>
    
    <ul>
        {% for pdf in pdfs %}
        <li>
            <a href="{{ pdf.pdf_file.url }}" target="_blank" download="{{ pdf.title|slugify }}.pdf">
                Download {{ pdf.title }}
            </a>
            <!-- Also providing a view link -->
            <a href="{{ pdf.pdf_file.url }}" target="_blank" style="margin-left:10px;">
                View
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<style>
    body {
        background-image: url("{% static 'images/laptop-books-arrangement.jpg' %}");   
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover; 
        background-repeat: no-repeat;
    }
    </style>
{% endblock %}
